div.ds1{height:220px;overflow:hidden;margin-bottom:10px;padding-top:15px;padding-left:7px;width:986px;}
div.ds1 div.t{margin-bottom:15px;}
div.ds1 div.l{width:28px;float:left;}
div.ds1 div.r{width:28px;float:left;}

div.ds1 .skinimg{width:920px;height:240px;float:left;overflow:hidden;}
.skinimg .jcarousel-clip{overflow:hidden;}

#slide-adv-next, #slide-adv-back{height:130px;width:28px;display:block;}
#slide-adv-next{background:url(right.jpg) no-repeat 10px center;}
#slide-adv-back{background:url(left.jpg) no-repeat 10px center;}

#ul-box-adv{height:240px;overflow:hidden;}
#ul-box-adv li{float:left;width:170px;overflow:hidden;padding:0px 8px;}

#ul-box-adv li img{width:170px;height:113px;object-fit: cover;}
#ul-box-adv li strong{display:block;line-height:16px;height:16px;overflow:hidden;padding-top:5px;}
#ul-box-adv li span{display:block;text-align:justify;line-height:16px;height:32px;padding-top:5px;overflow:hidden;}

div.ds2{float:right;width:313px;overflow:hidden;background:url(../../images/bg/g2.gif) repeat-x left top;border:solid 1px #e4e4e4;height:238px;margin-right:7px;margin-top:12px;}
div.ds2 div.t{ display:block; height:38px; border-left:solid 1px #fff;border-right:solid 1px #fff;text-transform:uppercase; font-family:Tahoma;margin-bottom:5px;}
div.ds2 h3{ font-size:12px; line-height:37px;border-bottom:#bcbcbc 1px dotted; width:283px;padding-left:12px; margin-left:auto; margin-right:auto; overflow:hidden; height:37px;background:url(../../images/bg/i1.gif) no-repeat left center;}
#next1, #back1{height:130px;width:40px;display:none;}
div.ds2 .skinimg{width:308px;height:190px;float:left;overflow:hidden;}

#adv1{height:240px;overflow:hidden;}
#adv1 li{float:left;width:300px;overflow:hidden;margin:0px 7px;text-align:center;}
#adv1 li img{width:300px;height:190px;display:block;}
#adv1 li strong{display:block;line-height:16px;height:32px;overflow:hidden;padding-top:5px;font-weight:normal;position:absolute;z-index:2; font-weight:bold; width:290px; margin-left:5px; margin-top:155px;}
#adv1 li strong a{color:#fff;}

#adv1 li span{background-color:#000;-moz-opacity:0.5;opacity:0.5;filter:alpha(opacity=50);position:absolute;z-index:1; width:300px; height:40px; margin-top:150px; display:block;}



