@font-face{
    font-family:sf-pro-medium;
    src:url(../fonts/SFProDisplay-Medium.ttf);
}
@font-face{
    font-family:sf-pro-bold;
    src:url(../fonts/SFProDisplay-Bold.ttf);
}

@font-face{
    font-family:sf-pro-regular;
    src:url(../fonts/SFProDisplay-Regular.ttf);
}
@font-face{
    font-family:sf-pro-thin;
    src:url(../fonts/SFProDisplay-Thin.ttf);
}
h4, label, p, span {
    margin: 0;
}
body {
    font-family: sf-pro-regular;
    background: #F1F2F4 !important;
}
.p-initial {
    position: initial !important;
}
.fs-14 {
    font-size: 14px;
}
.pd-0 {
    padding: 0 !important;
}

.space30 {
    height: 30px;
    width: 100%;
}

.gpay-menu {
    height: 56px;
    padding: 12px 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(47, 49, 54, 0.1);
}

.gpay-menu .gpay-icon {
    display: inline-block;
    float: left;
}
.gpay-icon img {
    height: 32px;
}
.gpay-menu .gpay-region {
    display: inline-block;
    float: right;
    padding-top: 12px;
}

.gpay-menu .gpay-region img{
    height: 14px;
    display: inline-block;
    float: right;
}
.btn-download {
    padding: 0px 16px;
    width: 141px;
    height: 32px;
    right: 172px;
    top: 8px;
    border: unset;
    font-size: 14px;
    color: #3080EA;
    margin-right: 20px !important;
    margin-top: -12px !important;
    background: rgba(48, 128, 234, 0.16);
    border-radius: 8px;
}
.btn-download img {
    float: left !important;
    height: 20px !important;
}
.modal-download {
    z-index: 99999;
    padding: 0px 0px 16px;
    position: fixed;
    width: 280px;
    top: 64px;
    background: #FFFFFF;
    border: 1px solid #E4E9F2;
    box-sizing: border-box;
    border-radius: 8px;
    transition: opacity 0.3s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.modal-download-header {
    padding: 16px 24px 0px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #222B45;
}

.modal-download img {
    height: 160px !important;
    display: block !important;
    float: unset !important;
    margin: 0 auto;
}

.modal-download.active {
    opacity: 1;
    height: 316px;
}

.content {
    padding: 40px 0;
}

.expired-time {
    padding: 12px 0;
    background: #FFFFFF;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(47, 49, 54, 0.1);
    border-radius: 8px;
}

.expired-time label {
    font-size: 16px;
    color: #222B45;
    display: block;
}
.expired-time span {
    color: #222B45;
    display: block;
    font-weight: bold;
    font-size: 32px;
}
.gpay-card-info {
    padding: 12px;
}
.card-info-body {
    padding: 0 12px;
}
.card-info-item {
    padding: 12px 0;
    height: auto;
    display: block;
}
.bot-dashed {
    border-bottom: 0.5px dashed #E9EAEC;
}

.card-info-item .-card-title{
    color: #888B96;
    width: 50%;
    float: left;
    display: inline-block;
}
.card-info-item .-card-value{
    font-size: 14px;
    color: #2F3136;
    width: 49%;
    display: inline-block;
    word-break: break-all;
    text-align: right;
}

.card-info-item .-card-title span {
    font-size: 14px;
}

.card-order-info {
    margin-top: 16px;
    box-shadow: 0px 2px 4px rgba(47, 49, 54, 0.1);
    border-radius: 8px;
    background: #FFFFFF;
}
.avatar {
    width: 64px;
    height: 64px;
    background-size: cover;
    display: inline-block;
    float: left;
    border: 1px solid #E9EAEC;
    box-sizing: border-box;
    border-radius: 8px;
}
.m-name {
    padding: 4px 0 0 12px;
    width: 80%;
}
.m-name h4 {
    font-size: 14px;
    line-height: 20px;
    color: #888B96;
    margin-bottom: 0;
}
.m-name label {
    font-weight: bold;
    font-size: 20px;
    color: #2F3136;
    line-height: 22px;
}
.amount-order {
    font-weight: bold;
}

.content-qr {
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(47, 49, 54, 0.1);
}
.content-qr-header {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #222B45;
    padding: 18px 24px;
    border-bottom: 1px solid #E4E9F2;
}

.content-qr-header h4 {
    font-weight: bold;
    font-size: 18px;
}

.content-qr-body {
    padding: 24px;
    border-bottom: 1px solid #E4E9F2;
}
.content-footer {
    padding: 24px;
    text-align: right;
}
.content-footer button {
    padding: 12px 42px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 16px;
}
.content-footer button:nth-child(1){
    color: #888B96;
}
.content-footer button:nth-child(2){
    color: #ffffff;
    background: #3080EA;
}
.title {
    padding-bottom: 16px;
    font-size: 14px;
    color: #222B45;
}
.input-card {
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E9EAEC;
    box-sizing: border-box;
    border-radius: 8px;
}
/*.content-qr-body img {*/
/*    height: 240px;*/
/*    margin: 0 auto;*/
/*    display: inline-block;*/
/*}*/
/*.content-qr-body label {*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    text-align: center;*/
/*    color: #222B45;*/
/*    display: block;*/
/*    margin-top: 12px;*/
/*}*/
/*.content-qr-body button {*/
/*    padding: 0 16px;*/
/*    border: 1px solid #E4E9F2;*/
/*    box-sizing: border-box;*/
/*    margin-top: 12px;*/
/*    background: #EDEEF0;*/
/*    height: 40px;*/
/*    border-radius: 8px;*/
/*}*/
.border-load {
    border-width: .13em !important;
    margin-right: 8px;
}
.note {
    text-align: center;
    margin-top: 16px;
    font-family: sf-pro-regular;
}

.note {
    text-align: left;
    color: #222B45;
    font-size: 16px;
}

.note img {
    height: 40px;
}
.note span {
    margin-left: 10px;
}
@media only screen and (max-width: 767px) {
    .note {
        padding: 16px;
    }
}
/*----footer----*/
.gpay-footer {
    margin-top: 140px;
    padding: 30px 0 10px 0;
    background: #F1F2F4;
}

.gpay-footer .logo-2{
    height: 32px;
    margin-bottom: 12px;
}

.gpay-footer h4 {
    font-size: 16px;
    line-height: 19px;
    color: #222B45;
    font-weight: bold;
}

.gpay-footer .support {

}
.gpay-footer .support-item {
    display: inline-block;
    margin-right: 32px;
}
.gpay-footer .support-item img{
    height: 28px;
}
.gpay-footer .support-item span{
    font-size: 14px;
    color: #222B45;
    margin-left: 5px;
}
.copyright {
    color: #8F9BB3;
}
.gpay-footer .trust img{
    height: 42px;
    margin-left: 8px;
}
/*------------*/
.gpay-card-success {
    padding: 140px 30px;
    text-align: center;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(47, 49, 54, 0.1);
    border-radius: 8px;
}

.gpay-card-success img {
    height: 88px;
    margin-bottom: 10px;
}

.gpay-card-success h4 {
    font-size: 24px;
    line-height: 32px;
    color: #222B45;
    font-weight: bold;
    font-family: sf-pro-bold;

}

.gpay-card-success p {
    font-size: 16px;
    line-height: 24px;
    color: #2F3136;
    font-family: sf-pro-regular;
}

.gpay-card-success button {
    border: unset;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 6px;
    width: 328px;
    height: 48px;
    background: #3080EA;
    border-radius: 8px;
}
.loading-over-play {
    width: 100vw;
    /*z-index: 999999;*/
    height: 100vh;
    position: fixed !important;
}
._loading_overlay_overlay {
    background: rgb(160 160 160 / 22%) !important;
}
@media only screen and (max-width: 1024px) {
    .m-name {
        width: 70%;
    }
}
@media only screen and (max-width: 768px) {
    .btn-download {
        padding: 0px 8px;
        width: 120px;
    }
    .gpay-icon img {
        height: 20px;
    }
    .modal-download {
        right: 10px;
    }
    .gpay-card-success button {
        width: 100%;
    }
    .gpay-card-success {
        padding: 70px 30px;
    }
    .expired-time {
        margin-top: 16px;
    }
    .gpay-footer {
        text-align: center;
        margin-top: 20px;
    }
    .gpay-footer h4 {
        margin-top: 12px;
    }

    .gpay-footer .support-item img {
        height: 16px;
    }
    .gpay-footer .trust img {
        height: 28px;
    }
    .copyright {
        font-size: 14px;
    }
}
