﻿@import url(style.css?v=2.1);
@import url(menu.css?v=2.1);
@import url(../js/mainframe.css?v=2.1);
@import url(../js/imgsliw/skin.css?v=2.1);
h1.t{ display:none;}

ul.mslw{width:1000px;height:350px;overflow:hidden;}
ul.mslw img{width:1000px;height:350px;}
ul.mslw li{overflow:hidden;display:none;opacity:0;width:1000px;height:350px;}
ul.mslw #picture1{display:block;}
ul.mslw div{position:absolute;z-index:1;width:500px;margin-left:500px;height:88px;margin-top:226px;background-color:#000;-moz-opacity:0.5;opacity:0.5;filter:alpha(opacity=50);}
ul.mslw strong{position:absolute;z-index:2;display:block;width:480px;margin-left:510px;margin-top:236px;height:20px;line-height:20px;overflow:hidden; font-size:18px;}
ul.mslw strong a{ color:#fff;}
ul.mslw span{position:absolute;z-index:3;display:block;width:480px;margin-left:510px;margin-top:262px;color:#fff;text-align:justify;line-height:20px;height:40px;overflow:hidden;font-size:13px;font-weight: 100;}

ul.mslw1{width:1000px;height:200px;overflow:hidden;}
ul.mslw1 img{width:1000px;height:200px;}
ul.mslw1 li{overflow:hidden;display:none;opacity:0;width:1000px;height:200px;}
ul.mslw1 #picture1{display:block;}
ul.mslw1 div{position:absolute;z-index:1;width:500px;margin-left:500px;height:88px;margin-top:76px;background-color:#000;-moz-opacity:0.5;opacity:0.5;filter:alpha(opacity=50); display:none;}
ul.mslw1 strong{position:absolute;z-index:2;display:block;width:480px;margin-left:510px;margin-top:86px;height:20px;line-height:20px;overflow:hidden; font-size:18px; display:none;}
ul.mslw1 strong a{ color:#fff;}
ul.mslw1 span{position:absolute;z-index:3; display:block;width:480px;margin-left:510px;margin-top:112px;color:#fff;text-align:justify; line-height:20px;height:40px; overflow:hidden; font-size:13px; font-weight:bold; display:none;}

div.dhc{background:url(../images/bg/gc.gif) repeat-y 720px top; border-top:solid 5px #fff; margin-bottom:10px;}
div.divm{ width:700px; float:left; overflow:hidden; padding-left:7px;}
div.divr{ width:260px; float:left; overflow:hidden; padding-left:26px;background:url(../images/bg/gct.gif) no-repeat 13px top;}

div.dmt{height:30px;line-height:22px; padding-top:5px;}
div.inh{text-align:justify;margin-bottom:15px;/* line-height:180%; */}
div.inh h2{ font-size:17px; padding-bottom:5px;}

ul.umain{ overflow:hidden; width:750px;border-top:#bcbcbc 1px dotted; padding-top:10px;}
ul.umain li{ float:left; width:220px; overflow:hidden; margin-right:20px;}
ul.umain strong{ display:block; text-transform:uppercase; font-family:Tahoma; height:20px; line-height:20px; overflow:hidden; margin-bottom:5px;}
ul.umain img{ width:220px; height:200px; display:block; object-fit: cover;}
ul.umain span{ display:block; padding-top:5px; line-height:18px; height:54px; text-align:justify; overflow:hidden; margin-bottom:10px;}
ul.umain a.f{ border-top:solid 1px #dcdcdc;border-left:solid 1px #dfdfdf;border-right:solid 1px #dfdfdf; border-bottom:solid 1px #bdbdbd; display:block;border-radius:2px; text-align:center; width:90px; line-height:28px; font-size:13px;}

div.g1{ height:3px; overflow:hidden;background:url(../images/bg/g1.gif) repeat-x left top; width:986px; margin-left:7px;}

ul.mnf{ width:672px; overflow:hidden; height:250px; margin-top:12px;}
ul.mnf li{ float:left; width:320px; overflow:hidden;background:url(../images/bg/g2.gif) repeat-x left top; margin-right:7px; border:solid 1px #e4e4e4;height:238px; margin-left:7px;}
ul.mnf li strong{ display:block; height:38px; border-left:solid 1px #fff;border-right:solid 1px #fff;text-transform:uppercase; font-family:Tahoma; margin-bottom:8px;}
ul.mnf li strong a{ display:block; line-height:37px;border-bottom:#bcbcbc 1px dotted; width:289px;padding-left:12px; margin-left:auto; margin-right:auto; overflow:hidden; height:37px;background:url(../images/bg/i1.gif) no-repeat left center;}
ul.mnf span{ display:block; padding-bottom:8px; padding-left:18px;background:url(../images/bg/i2.gif) no-repeat 8px 5px; padding-right:8px;}

div.dpro{width:700px; float:left; overflow:hidden; padding-left:7px;}
div.dpro h1.h1p{font-size:18px; color:#333; padding-top:5px;}
div.dpro h2{ font-size:17px;color:#333;padding-bottom:5px; padding-top:10px;}
div.dpro h3{ font-size:15px;color:#333;padding-bottom:5px; padding-top:10px;}

div.dsl img{ width:1000px; height:200px;}
div.dlink{line-height:30px; font-size:12px; font-weight:bold;padding-left:10px;background-color:#e3e3e3;}
div.dlink h1,div.dlink h2{ font-size:15px; display:inline;}

div.intro{text-align:justify;padding-top:5px; padding-bottom:10px;}
div.intro img{ max-width:740px;}
div.intro ul,div.intro li{list-style-type:inherit; margin:3px 3px 3px 10px;}

#unew{ width:800px;}
#unew li.t{ height:220px; overflow:hidden;background:url(../images/bg/g1.gif) repeat-x left bottom; padding-top:3px; width:733px;}
#unew li.t img{ width:296px; height:197px; border:solid 1px #c6c6c6; padding:2px; float:left; margin-right:7px;}
#unew li.t strong{ display:block; padding-bottom:7px; padding-top:5px; font-size:15px;}
#unew li.t span{ display:block; line-height:18px; height:90px; overflow:hidden; text-align:justify;}
#unew li.c{ float:left; width:335px; height:118px; margin-right:30px; overflow:hidden;border-bottom:solid 1px #c6c6c6; padding-top:13px;}
#unew li.c strong{ display:block; line-height:16px; height:16px; overflow:hidden; margin-bottom:5px;}
#unew li.c img{ width:102px; height:75px;border:solid 1px #c6c6c6; padding:2px; float:left; margin-right:6px;}
#unew li.c span{ display:block; text-align:justify; line-height:17px; height:68px; overflow:hidden;}

#uda{ width:800px;}
#uda li.t{ height:220px; overflow:hidden;background:url(../images/bg/g1.gif) repeat-x left bottom; padding-top:3px; width:733px;}
#uda li.t img{ width:296px; height:197px; border:solid 1px #c6c6c6; padding:2px; float:left; margin-right:7px;}
#uda li.t strong{ display:block; padding-bottom:7px; padding-top:5px; font-size:15px;}
#uda li.t div{line-height:17px;text-align:justify; padding-top:5px;}
#uda li.c{ float:left; width:216px; height:250px; margin-right:26px; overflow:hidden;padding-top:13px;}
#uda li.c img{ width:210px; height:140px;border:solid 1px #c6c6c6; padding:2px;}
#uda li.c strong{ display:block; line-height:16px; height:16px; overflow:hidden; margin-bottom:5px; padding-top:5px;}
#uda li.c span{ display:block; text-align:justify; line-height:16px; height:64px; overflow:hidden;}

div.dad{height:220px;overflow:hidden;padding-top:3px;width:733px;}
div.dad img{ width:296px; height:197px; border:solid 1px #c6c6c6; padding:2px; float:left; margin-right:7px;}
div.dad h1{padding-bottom:7px;padding-top:5px;font-size:18px;}
div.dad div{line-height:17px;text-align:justify; padding-top:5px;}

#upro{ width:800px;}
#upro li.t{ height:220px; overflow:hidden;background:url(../images/bg/g1.gif) repeat-x left bottom; padding-top:3px; width:733px;}
#upro li.t img{ width:296px; height:197px; border:solid 1px #c6c6c6; padding:2px; float:left; margin-right:7px;}
#upro li.t strong{ display:block; padding-bottom:7px; padding-top:5px; font-size:15px;}
#upro li.t div{line-height:17px;text-align:justify; padding-top:5px;}
#upro div.g{ font-weight:bold;}
#upro div.g b{ color:Red;}
#upro li.c{ float:left; width:216px; height:250px; margin-right:26px; overflow:hidden;padding-top:13px;}
#upro li.c img{ width:210px; height:140px;border:solid 1px #c6c6c6; padding:2px;}
#upro li.c strong{display:block; line-height:16px; height:16px; overflow:hidden; margin-bottom:5px; padding-top:5px;}
#upro li.c div{ padding-bottom:5px;}

div.pdt{ height:220px; overflow:hidden; padding-top:3px; width:733px;}
div.pdt img{ width:296px; height:197px; border:solid 1px #c6c6c6; padding:2px; float:left; margin-right:7px;}
div.pdt strong{ display:block; padding-bottom:7px; padding-top:5px; font-size:15px;}
div.pdt div{line-height:17px;text-align:justify; padding-top:5px;}
div.pdt div.g{ font-weight:bold;}
div.pdt div.g b{ color:Red;}

div.dkeyn{background:url(../images/bg/tags.gif) no-repeat 0px top; padding-left:45px; height:16px; padding-top:7px; margin-bottom:10px;}
div.h2dt{color:#006184; background-color:#f3f3f3;padding:0px 5px; line-height:30px; margin-bottom:10px; font-weight:bold; font-family:Tahoma; text-transform:uppercase;}
div.dseo{ padding:5px; text-align:justify; line-height:160%; border:solid 1px #ccc; margin:10px 0px; clear:both; background-color:#ffffdd;}

#ulgnr{padding-top:5px;width:780px;}
#ulgnr li{float:left;width:224px;padding-right:10px;padding-top:5px;text-align:center;}
#ulgnr li a{width:220px;height:150px;display:block;overflow:hidden;border:solid 1px #e4e4e4;padding:1px;}
#ulgnr li img{width:220px;height:150px;}
#ulgnr li b{display:block;height:30px;line-height:15px;overflow:hidden;}

#uvd{width:800px;overflow:hidden;}
#uvd li{float:left;width:222px;height:200px;overflow:hidden;text-align:center;padding-top:6px;margin-right:15px;cursor:pointer;}
#uvd img{width:222px;height:160px;}
#uvd strong{display:block;padding-top:8px;color:#4b4b4b;text-align:center;}

#bgpopup{position:fixed;_position:absolute;/* hack for internet explorer 6*/height:100%;width:100%;top:0;left:0px;background:#000000;z-index:9998;}
div.dvd{position:fixed;_position:absolute;/* hack for internet explorer 6*/height:100%;width:100%;top:0;left:0px;z-index:9999;}
div.dvd div.t{width:688px;margin-left:auto;margin-right:auto;padding-top:20px;height:30px;overflow:hidden;}
div.dvd div.t a{display:block;width:30px;height:30px;float:right;background:url(../images/bg/close.png) no-repeat left top;}
div.dvd div.f{width:640px;height:480px;overflow:hidden;margin-left:auto;margin-right:auto;}
