﻿/*==============================================Begin head======================================*/
div.dhead{ height:109px; overflow:hidden;background:url('../images/bg/head.png') no-repeat left; margin: 0px auto; width: 1000px}
div.dhead ul{ width:1000px; margin-left:auto; margin-right:auto;}
div.dhead li{ float:left; overflow:hidden;}
div.dhead li.l{width: 740px;}
div.dhead li.l a{display:block; height:108px;}
div.dhead li.r{text-align:center;padding-top:27px;}
div.dhead li.r a{ display:block}
div.dhead li.r b{ display:block;font-weight:bold; font-size:17px;}

ul.umh div{display:none;}
ul.umh{overflow:hidden;height: 38px;margin-bottom:10px;background: #065bac;margin-bottom: 0px;}
ul.umh li{float:left;height: 38px;}
ul.umh li:hover div{display:inline;position:absolute;z-index:100;}
ul.umh li:hover,ul.umh li.s{background: #0b417e url(../images/icon/1.gif) no-repeat left top;}
ul.umh div a.s{background: #0b417e !important;color: white !important;}

ul.umh a{display:block;}
ul.umh a.a1{font-size:12px;text-decoration:none;font-weight:bold;height:37px;line-height:37px;padding:0px 15px;text-transform:uppercase;color: #fff;}
ul.umh a.a2{width:180px;padding:5px;font-weight:normal;border-top:solid 1px #fff; font-size:12px;}
ul.umh li:hover .a1,ul.umh li.s .a1{ color:#fff;}

ul.umh a.a2:link, ul.umh a.a2:visited, ul.umh a.a2:active{background-color:#e4e4e4;color:#000;}
ul.umh a.a2:hover{background-color: #0b417e;color:#fff;text-decoration:none;}
/*====================================main===========================================*/
div.dtop{left:0px;top:0px;position:fixed;z-index:999;height:34px;overflow:hidden;width:100%;background:url(../images/bg/gt.gif) repeat-x left top;border-bottom:solid 1px #dcdcdc;}
div.dtop a{ color:#030303;}
div.dtop ul{width:1000px;margin-left:auto;margin-right:auto;}
div.dtop li{float:left; overflow:hidden;}
div.dtop li.t{ float:right; width:80px; padding-top:7px;}
div.dtop li.g{ float:right; width:70px; padding-top:7px;}
div.dtop li.f{ float:right; width:90px; padding-top:7px;}

div.dtop li.ll{line-height:34px; font-size:15px;}
div.dtop li.ll b{ color:Red;}

div.dtop li.l{ width:20px;background:url(../images/bg/h.html) no-repeat left 9px;}
div.dtop li.l a{ display:block; height:32px;}

div.dtop li.c{ line-height:34px; padding-right:10px;}
div.dtop li.c b{ padding:8px; color:#bebebe;}

div.dft{ background-color:#e4e4e4; border-top:solid 1px #cbcbcb;}
ul.uft{ width:1000px; overflow:hidden; margin-left:auto; margin-right:auto;}
li.lfr{ float:right; font-weight:bold; padding-top:10px;}
li.lfr a{ color:#305275; padding-left:15px;}
li.lfl{ float:left; line-height:180%; padding-bottom:5px;}

div.divr ul{ margin-bottom:10px;}
div.divr li.h{ line-height:22px; overflow:hidden; height:22px; margin-bottom:5px; padding-top:5px;}
div.divr ul.m li.h{ margin-bottom:8px;}
div.divr li.s a{ color:Red;}
div.divr li.c{padding:7px 0px;font-weight:bold;border-top:#bcbcbc 1px dotted;}
div.divr li.f{ padding-bottom:5px; padding-left:15px;}

div.divr li.vc{border-top:#bcbcbc 1px dotted; padding-top:7px;height:158px;}
div.divr li.vc img{ width:260px; height:158px; cursor:pointer; display:block;}
div.divr li.vf{ padding-top:5px; line-height:16px; height:16px; overflow:hidden; color:#999;}

div.divr li.t{ height:400px; overflow:hidden;}
div.divr li.t div{height:75px; overflow:hidden;border-top:#bcbcbc 1px dotted; padding-top:10px;}
div.divr li.t strong{ display:block; line-height:16px; height:16px; overflow:hidden; margin-bottom:4px;}
div.divr li.t img{width:60px;height:45px;float:left;margin-right:5px;object-fit: cover;}
div.divr li.t span{ display:block; text-align:justify; line-height:15px; height:45px; overflow:hidden;}

div.divr div.v{ padding-bottom:10px;}
div.divr div.v img{ width:260px;}

