﻿#menu-locales{
    position: fixed;
    right: 25px;
}
#menu-locales a{
    color: #000000a6;
    font-size: 12px;
}
#menu-locales ul{
    width: 100%;
    top: 16px;
    left: 35px;
}
#menu-locales ul.dropdown-menu {
    background: transparent;
    width: 100%;
    top: -16px;
    left: 30px;
    border: none;
    min-width: 7rem;
    margin-top: -16px;
}
div.dtop #menu-locales li{
    overflow: visible;
    margin-left: 25px;
}
#menu-locales ul.dropdown-menu li:hover{
    background-color: transparent;
}
#menu-locales ul.dropdown-menu li a:hover,#menu-locales ul.nav li a:hover{
    color: red;
}
body{font-size:12px;font-family:Arial;color:#000;padding:35px 0px 0px 0px;margin:0px;background:#f5f5f5 url(../images/bg/bg.gif?v=1.1) repeat-x left 143px;}
.content{font-size:12px;font-family:Arial;color:#000;padding:0px;margin:0px auto;width:1000px;overflow:hidden; background-color:#fff;}
table{font-size: 12px;font-family: Arial;}

ul{padding:0px;margin:0px;list-style-type:none;}ul li{padding:0px;margin:0px;list-style-type:none;}
div{font-size:12px;font-family:Arial;}h1,h2,h3,h4,h5,h6{padding:0px; margin:0px;}img{border:0px;object-fit: cover;}.sao{ font-family:Verdana;color:Red;}.cl{clear:both;}
a{color:#3e3f31;text-decoration:none;}a:hover{color: #ff0000;text-decoration:underline;}

.textbox{border: 1px solid #288fb8;font-size: 11px;font-family:Arial;color: #2c478c;background-color:White;}
.textbox1{border: 1px solid #288fb8;font-size: 11px;font-family: Arial;color: #2c478c;background-color: White;text-transform: lowercase;}
.textbox2{border:0px solid #fff;font-size:11px;font-family:Arial;color: #2c478c;background-color:Transparent;padding:0px;margin:0px; border:0px; border-style:none;}
.txt12{border: 1px solid #288fb8;font-size: 12px;font-family:Arial;color: #2c478c;background-color:White; padding:2px;}

.button{color: #fff;font-family: verdana, Arial, helvetica, sans-serif;font-size: 8pt;font-weight: bold;background-color: #6898D0;cursor: pointer;padding: 2px;border: #dadada 2px outset;}
.button1{color: #fff;font-family: verdana, Arial, helvetica, sans-serif;font-size: 8pt;font-weight: bold;background-color: #6898D0;cursor: pointer;padding: 2px;border: #dadada 2px outset;}
.btnID{font-family:Arial;padding:1px;margin:0px; font-size:11px;}

.divct1{float:left;width:115px;padding:5px;}
.divct2{float:left;width:400px; padding:5px 0px;}
/*==============================================Begin Pages======================================*/
#lblPage{ display:block;text-align:center;padding-top:10px;height:24px; clear:both;font-weight:bold;}
A.apage:link{color:#0062BD;text-decoration:none;border: 1px solid #cccccc;padding:0px 5px;vertical-align:middle;font-weight:bold;}
A.apage:visited{color: #0062BD;text-decoration:none;border: 1px solid #cccccc;padding:0px 5px;vertical-align: middle;font-weight:bold;}
A.apage:hover {color:#f60;text-decoration:none;border:1px solid red;padding:0px 5px;vertical-align:middle;font-weight:bold;}
.cpage{color:red;text-decoration:none;border:1px solid #cccccc;padding:0px 5px;vertical-align:middle;font-weight:bold;}
/*==============================================End Pages======================================*/
div.dmt,div.divr li.h,div.ds1 div.t{font: 21px/20px 'ifont';text-transform:uppercase;}
ul.umain img:hover,div.divr img:hover,div.ds1 img:hover,div.ds2 img:hover,#unew img:hover,#uda img:hover,#upro img:hover,a.ajax img:hover{-moz-opacity:0.7;opacity:0.7;filter:alpha(opacity=70);}

@font-face {
    font-family: 'ifont';
    src: url('../font/utm_cafeta-webfont.eot');
    src: url('../font/utm_cafeta-webfontd41d.eot?#iefix') format('embedded-opentype'),
    url('../font/utm_cafeta-webfont.woff') format('woff'),
    url('../font/utm_cafeta-webfont.ttf') format('truetype'),
    url('../font/utm_cafeta-webfont.svg#UTMCafetaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
