<template>
    <div style="margin-bottom: 20px">
        <strong style="margin-right: 10px">Hàng {{ index+1 }}: </strong>
        <a-icon type="minus-circle" @click="delRow" style="margin-left: 10px; color: red; font-size: 18px; cursor: pointer" />
        <a-input placeholder="Màu sắc..." v-model="language.key" />
        <a-input placeholder="Nhập nooijd dung..." v-model="language.value" />
    </div>
</template>
<script>
    export default {
        name: 'ItemRow',
        created() {
        },
        mounted: function () {
            //this.language = {...this.languageDefault};
        },
        props: ['index', 'language'],
        data: {
        },
        methods: {
            filterOption(input, option) {
                return (
                    option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
                );
            },
            delRow() {
                this.$parent.delRow(this.index);
            }
        }
    }
</script>
