*{

}
#menu-locales{
    position: fixed;
    right: 25px;
}
#menu-locales a{
    color: #000000a6;
}
#menu-locales ul{
    width: 100%;
    top: 16px;
    left: 35px;
}
#menu-locales ul.dropdown-menu {
    background: transparent;
    width: 100%;
    top: -16px;
    left: 30px;
    border: none;
    min-width: 7rem;
    margin-top: -16px;
}
#menu-locales ul.dropdown-menu li:hover{
    background-color: transparent;
}
#menu-locales ul.dropdown-menu li a:hover,#menu-locales ul.nav li a:hover{
    color: red;
}
.container_custom img {
    width: 100%;
    object-fit: cover;
}
.mobile-margin{
    margin-bottom: 50px;
}

.blog-details__content a {
    color: #3856d9;
}
.sidebar__post__single.latest a {
    color: #737789;
}

.blog-details__content h3 a{
    color: black;
}

.container_custom .blog-details__image img {
    width: 100%;
    /* height: 450px; */
    object-fit: cover;
}
.container_custom .sidebar__post-wrap .sidebar__post__single img{
    width: 100%;
    object-fit: cover;
}
.container_custom .sidebar__post-wrap .sidebar__post__single.latest img{
    width: 100%;
    object-fit: cover;
}
.container_custom {
    width: 80%;
    margin: auto;
    margin-left: 16%;
}

.page-header .custom-title {
    margin-left: 125px;
}

.site-header-one .search-nav__right {
    margin-left: 600px;
}
#logo-hap{
    width: auto;
    height: 100%;
    position: relative;
}
img.hap-tech{
    width: 80px;
    height: auto;
}
span.text-dark{
    position: absolute;
    line-height: 36px;
    font-size: 20px;
    left: 60px;
    bottom: 20px;
    align-items: center;
}
#logo-hap img{
    height: 100% !important;
    width: auto !important;
}
.banner-one__content .introduct-left{
    margin-left: 80px;
}
.pricing-one__single #contact{
    position: absolute;
    bottom: 30px;
    margin: auto;
    width: 100%;
}
.pricing-one__single{
    position: relative;
}
.category_menu a{
    font-size: 21px;
}
.right-info{
    position: relative;
}
.sidebar-blog{
    width: 100%;
    margin-left: 100px;
}
.blog-content h3{
    font-size: 31px;
    line-height: 56px;
    color: var(--thm-black);
    font-weight: 600;
    margin-bottom: 9px;
}
.icon-date
{
    padding-right: 10px;
}
hr:last-child {
    display: none;
}
