<template>
    <div>
        <div class="div-image">
            <label class="show-image" for="input-image">
                <div v-if="!image">
                    <i class="fa fa-camera" v-if="!uploading"></i>
                    <i class="fa fa-spin fa-spinner" v-if="uploading"></i>
                </div>
                <img :src="image" v-if="image" class="img-image" />
            </label>
            <div class="remove-image" v-if="image" @click="removeImage">
                <i class="fa fa-close"></i>
            </div>
        </div>
        <input type="file" class="hidden" id="input-image" @change="onChangeUploadImage" />
        <input type="hidden" name="image" :value="image" />
    </div>
</template>
<style>

</style>
<script>
    export default {
        name: 'AddVaccine',
        data: function () {
            return {
                image: '',
                uploading: false,
            };
        },
        created() {

        },
        mounted: function () {

        },
        props: ['uploadSuccess', 'remove', 'image'],
        methods: {
            removeImage() {
                this.image = '';
                this.remove();
            },
            async onChangeUploadImage(e) {
                this.uploading = true;
                const dataSend = new FormData();
                for (let i = 0; i < e.target.files.length; i++) {
                    dataSend.append('file', e.target.files[i]);
                }
                $('#input-image').val('');
                let dataAPI = await this.requestAPIWithoutServer(`http://171.244.4.116:9092/api/v1/files/upload`, 'POST', dataSend, {
                    'Accept': 'application/json',
                    'Content-Type': 'multipart/form-data'
                });
                if(this.v(dataAPI, 'meta.status', 0) == 200) {
                    let url = this.v(dataAPI, 'response', '');
                    if(url) {
                        this.image = url;
                        this.uploadSuccess(url);
                    }
                } else {
                    this.$message.error('Upload thất bại.');
                }
                this.uploading = false;
            }
        }
    }
</script>
